body {
    display: flex;
    justify-content: center;
}
#calc {
    width: 400px;
    height: auto;
    padding: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 5px;
}
#screen {
    flex: 0 1 120px;
    border: 2px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: right;
}
    p {
        text-align: right;
        font-size: 65px;
        margin-top: -10px;
        margin-bottom: -10px;
    }
#num-pad {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: repeat(5, auto);
    gap: 10px;
}

button {
    height: 70px;
    border-radius: 5px;
    font-size: 30px;
    border: 1px solid black;
    background-color: #008645;
    cursor: pointer;
}
.num, #dec {background-color: #D0D0D0;}
#equ {background-color: #D92F60;}